.alert-danger {
  background: #ef5350;
  color: #fff;
  padding: 10px;
}

.alert-success {
  background: #81c784;
  color: #fff;
  padding: 10px;
}

.alert-reminder {
  background: #64b5f6;
  color: #424242;
  padding: 10px;
}

.modal-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.visibleOnEdit {
  display: none;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.input-searchbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-left: 22%;
}

input#search-input {
  display: block;
  margin: 0 auto;
  margin-left: 10px;
  width: 90%;
  max-width: 700px;
  height: 30px;
}

.spinner {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input#search-input::placeholder {
  color: white;
}

.select-wrapper.select-month {
  width: 100px;
}
.datepicker-controls .select-month input {
  width: 100px;
}

#edit-client-modal {
  width: 75%;
  max-height: 80%;
}

.MuiInputBase-root.MuiInput-root.picker
  input.MuiInputBase-input.MuiInput-input {
  margin: 0px 0px 8px 45px;
}
