.alert-danger {
  background: #ef5350;
  color: #fff;
  padding: 10px;
}

.alert-success {
  background: #81c784;
  color: #fff;
  padding: 10px;
}

.alert-reminder {
  background: #64b5f6;
  color: #424242;
  padding: 10px;
}

.modal-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
